
.about {
  //background-color: red;
  margin-bottom: 5em;

  p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    line-height: 1.8;
    font-size: 1.1em;
  }
}

.h3 {
  font-family: 'IBM Plex Mono', monospace;
  color: #FB5607;
  //font-family: 'IBM Plex Sans', sans-serif;
}
