
.footer {
  margin-top: 5em;
  //background-color: #7c4dff;
  height: 10em;
  border-top: 1px solid #E3E7EB;

  ul {
    text-align: center;
    margin-top: 2em;

    li {
      margin: 1em;
      list-style-type: none;
      display: inline-block;
    }
  }

  .copyright {
    color: #92A2B1;
    text-align: center;
  }

  .fa-2x {
    &:hover {
      color: #FFBE0B;
    }
  }
}
