
#my-nav {
  background-color: #7c4dff;
}

#navbar-brand {
  color: snow;
  font-weight: 500;
  font-family: 'IBM Plex Sans', sans-serif;
}

#nav-link a {
  font-size: 1.1em;
  font-weight: bolder;
  font-family: 'IBM Plex Sans', sans-serif;
  color: snow;
  padding-right: 2em;
  padding-top: .7em;
  letter-spacing: 0.18em;

  &:hover {
    color: #FFBE0B;
  }
}

#hamburger {
  //background-color: snow;
  border-color: snow;
}



@media(min-width:768px){
  #navbar-brand {
    padding-left: 30px;
  }

  #nav-link a {
    padding-top: 0;
  }
}
