
.portfolio-h3 {
  text-align: center;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}


.portfolio {
  height: auto;

  &:hover {
    a {
    text-decoration: none;
  }
}

  .project-header {
    background-color: #7c4dff;
    color: snow;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5em;
    text-align: center;
  }


  .project-text {
    font-size: 1.1em;
    //padding: .2em;
    text-align: center;
    line-height: 1.3;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
  }


  .project-button {
    background-color: #FB5607;
    color: snow;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    text-transform: uppercase;
    margin-bottom: 1em;
    border: none;

    &:hover {
      background-color:  #FFBE0B;
    }

  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    //padding-bottom: 5em;
  }

  .portfolio-project {
    height: 70VH;
    background-color: #FAFAFA;
    margin-bottom: 10em;
    //margin-left: auto;
    //margin-right: auto;
    display: inline-block;
    -moz-box-shadow:    3px 3px 8px 2px #ccc;
    -webkit-box-shadow: 3px 3px 8px 2px #ccc;
    box-shadow:         3px 3px 8px 2px #ccc;

  }
}

@media(min-width:768px){
  .portfolio {
    .portfolio-project {
      //margin-bottom: 5em;

    }

  }

}
